@import "../../../styles/utilities/variables";
@import "../../../styles/utilities/mixins";

#context-menu-root {
  position: absolute;
  top: 0;
  left: 0;
}

.recurrence-item {
  width: 2.6rem;
  height: 2.6rem;
  margin: 3px 0;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  padding: .3rem 1rem;
  @include flexCentered();

  &:nth-child(2) {
    width: 2.9rem;
    height: 2.9rem;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    svg,
    path:not(.noHover),
    rect {
      fill: #7b7b7b;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.context-menu {

  &-holder {
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.14), 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    animation: showContextMenu .2s cubic-bezier(.66,.14,.19,1.02) forwards;
    min-width: 20rem;
  }

  &-item {
    padding: 1rem 2rem;
    @include flexCentered();
    justify-content: flex-start;

    &-icon {
      @include flexCentered();
      margin-right: 10px;

      svg,
      path{
        fill: $black-40;
      }
    }

    &-label {
      color: $primary;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: $black-10;
      cursor: pointer;
    }
  }
}

@keyframes showContextMenu {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
}