pre {
  background-color: rgb(74, 166, 239);
  background-color: rgb(82, 184, 210);
  background-color: rgb(108, 190, 94);
  background-color: rgb(160, 187, 49);
  background-color: rgb(255, 217, 102);
  background-color: rgb(242, 176, 75);
  background-color: rgb(241, 129, 129);
  background-color: rgb(237, 112, 165);
  background-color: rgb(207, 102, 247);
  background-color: rgb(183, 154, 143);
  background-color: rgb(164, 175, 199);
  background-color: rgb(171, 166, 181);
  background-color: rgb(171, 189, 196);
  background-color: rgb(192, 184, 158);
  background-color: rgb(221, 227, 88);
  background-color: rgb(152, 66, 235);
  background-color: rgb(111, 233, 190);
  background-color: rgb(89, 146, 248);
  background-color: rgb(236, 102, 102);
}

.moreColors {
  background-color: rgb(147, 0, 0);
  background-color: rgb(180, 95, 6);
  background-color: rgb(191, 144, 2);
  background-color: rgb(115, 118, 29);
  background-color: rgb(56, 118, 29);
  background-color: rgb(42, 147, 100);
  background-color: rgb(19, 79, 92);
  background-color: rgb(19, 67, 151);
  background-color: rgb(73, 28, 117);
  background-color: rgb(115, 27, 99);
  background-color: rgb(225, 62, 57);
  background-color: rgb(230, 145, 56);
  background-color: rgb(241, 194, 49);
  background-color: rgb(160, 187, 49);
  background-color: rgb(108, 190, 94);
  background-color: rgb(59, 183, 128);
  background-color: rgb(42, 166, 193);
  background-color: rgb(56, 118, 228);
  background-color: rgb(152, 66, 235);
  background-color: rgb(190, 59, 131);
  background-color: rgb(236, 102, 102);
  background-color: rgb(242, 176, 75);
  background-color: rgb(255, 217, 102);
  background-color: rgb(221, 227, 88);
  background-color: rgb(147, 196, 125);
  background-color: rgb(93, 209, 168);
  background-color: rgb(82, 184, 210);
  background-color: rgb(89, 146, 248);
  background-color: rgb(159, 76, 239);
  background-color: rgb(210, 82, 148);
  background-color: rgb(241, 129, 129);
  background-color: rgb(249, 203, 156);
  background-color: rgb(255, 229, 153);
  background-color: rgb(209, 215, 168);
  background-color: rgb(182, 215, 168);
  background-color: rgb(111, 233, 190);
  background-color: rgb(124, 237, 235);
  background-color: rgb(74, 166, 239);
  background-color: rgb(207, 102, 247);
  background-color: rgb(237, 112, 165);
  background-color: rgb(183, 154, 143);
  background-color: rgb(201, 180, 157);
  background-color: rgb(192, 184, 158);
  background-color: rgb(189, 194, 176);
  background-color: rgb(182, 197, 176);
  background-color: rgb(171, 196, 188);
  background-color: rgb(171, 189, 196);
  background-color: rgb(164, 175, 199);
  background-color: rgb(171, 166, 181);
  background-color: rgb(169, 148, 158);
}
