@import "variables";
@import "mixins";


.generic_radio_btn:checked,
.generic_radio_btn:not(:checked) {
  position: absolute;
  left: -9999px;
}
.generic_radio_btn:checked + .generic_radio_label,
.generic_radio_btn:not(:checked) + .generic_radio_label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.generic_radio_btn:checked + .generic_radio_label:before,
.generic_radio_btn:not(:checked) + .generic_radio_label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid $very_light_blue;
  border-radius: 100%;
  background: $primary_text;
}
.generic_radio_btn:checked + .generic_radio_label:after,
.generic_radio_btn:not(:checked) + .generic_radio_label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $denim_blue;
  position: absolute;
  top: calc(50% + 4px);
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.generic_radio_btn:not(:checked) + .generic_radio_label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.generic_radio_btn:checked + .generic_radio_label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: translateY(-10px) scale(1);
}
.generic_radio_label {
  font-size: 1.85rem;
  font-family: $Lato_Regular;
  color: $primary;
}

.textCenter { text-align: center }

.heading_1 { @include textHeading(4rem)}
.heading_2 { @include textHeading(3rem)}
.heading_3 { @include textHeading(2.5rem)}
.heading_4 { @include textHeading(2rem)}
.heading_5 { @include textHeading(1.6rem)}
.heading_6 { @include textHeading(1.4rem)}
.heading_7 { @include textHeading(1.2rem)}

.semiBold { font-family: $Lato_SemiBold; }
.medium { font-family: $Lato_Medium; }
.bold { font-family: $Lato_Bold; }
.black-05 { @include color($black-05)}
.black-10 { @include color($black-10)}
.black-20 { @include color($black-20)}
.black-30 { @include color($black-30)}
.black-40 { @include color($black-40)}
.black-50 { @include color($grey)}
.black-60 { @include color($black-60)}
.black-70 { @include color($black-70)}
.black { @include color($primary)}

.white { color: $primary_text; }

.noMarginBottom {margin-bottom: 0 !important;}
.noPadding { padding: 0 !important; }

.pv-10 { padding-top: 1rem; padding-bottom: 1rem; }
.pv-20 { padding-top: 2rem; padding-bottom: 2rem;}
.pv-30 { padding-top: 3rem; padding-bottom: 3rem;}
.pv-40 { padding-top: 4rem; padding-bottom: 4rem;}
.pv-50 { padding-top: 5rem; padding-bottom: 5rem;}
.pv-60 { padding-top: 6rem; padding-bottom: 6rem;}
.pv-70 { padding-top: 7rem; padding-bottom: 7rem;}
.pv-80 { padding-top: 8rem; padding-bottom: 8rem;}
.pv-90 { padding-top: 9rem; padding-bottom: 9rem;}
.pv-100 { padding-top: 10rem; padding-bottom: 10rem;}

.mv-10 { margin-top: 1rem; margin-bottom: 1rem; }
.mv-20 { margin-top: 2rem; margin-bottom: 2rem;}
.mv-30 { margin-top: 3rem; margin-bottom: 3rem;}
.mv-40 { margin-top: 4rem; margin-bottom: 4rem;}
.mv-50 { margin-top: 5rem; margin-bottom: 5rem;}
.mv-60 { margin-top: 6rem; margin-bottom: 6rem;}
.mv-70 { margin-top: 7rem; margin-bottom: 7rem;}
.mv-80 { margin-top: 8rem; margin-bottom: 8rem;}
.mv-90 { margin-top: 9rem; margin-bottom: 9rem;}
.mv-100 { margin-top: 10rem; margin-bottom: 10rem;}


.ph-10 { padding-left: 1rem; padding-right: 1rem; }
.ph-20 { padding-left: 2rem; padding-right: 2rem;}
.ph-30 { padding-left: 3rem; padding-right: 3rem;}
.ph-40 { padding-left: 4rem; padding-right: 4rem;}
.ph-50 { padding-left: 5rem; padding-right: 5rem;}
.ph-60 { padding-left: 6rem; padding-right: 6rem;}
.ph-70 { padding-left: 7rem; padding-right: 7rem;}
.ph-80 { padding-left: 8rem; padding-right: 8rem;}
.ph-90 { padding-left: 9rem; padding-right: 9rem;}
.ph-100 { padding-left: 10rem; padding-right: 10rem;}

.mh-10 { margin-left: 1rem; margin-right: 1rem; }
.mh-20 { margin-left: 2rem; margin-right: 2rem;}
.mh-30 { margin-left: 3rem; margin-right: 3rem;}
.mh-40 { margin-left: 4rem; margin-right: 4rem;}
.mh-50 { margin-left: 5rem; margin-right: 5rem;}
.mh-60 { margin-left: 6rem; margin-right: 6rem;}
.mh-70 { margin-left: 7rem; margin-right: 7rem;}
.mh-80 { margin-left: 8rem; margin-right: 8rem;}
.mh-90 { margin-left: 9rem; margin-right: 9rem;}
.mh-100 { margin-left: 10rem; margin-right: 10rem;}

.pt-10 { padding-top: 1rem; }
.pt-20 { padding-top: 2rem;}
.pt-30 { padding-top: 3rem;}
.pt-40 { padding-top: 4rem;}
.pt-50 { padding-top: 5rem;}
.pt-60 { padding-top: 6rem;}
.pt-70 { padding-top: 7rem;}
.pt-80 { padding-top: 8rem;}
.pt-90 { padding-top: 9rem;}
.pt-100 { padding-top: 10rem;}

.mt-10 { margin-top: 1rem; }
.mt-20 { margin-top: 2rem;}
.mt-30 { margin-top: 3rem;}
.mt-40 { margin-top: 4rem;}
.mt-50 { margin-top: 5rem;}
.mt-60 { margin-top: 6rem;}
.mt-70 { margin-top: 7rem;}
.mt-80 { margin-top: 8rem;}
.mt-90 { margin-top: 9rem;}
.mt-100 { margin-top: 10rem;}

.pb-10 { padding-bottom: 1rem; }
.pb-20 { padding-bottom: 2rem;}
.pb-30 { padding-bottom: 3rem;}
.pb-40 { padding-bottom: 4rem;}
.pb-50 { padding-bottom: 5rem;}
.pb-60 { padding-bottom: 6rem;}
.pb-70 { padding-bottom: 7rem;}
.pb-80 { padding-bottom: 8rem;}
.pb-90 { padding-bottom: 9rem;}
.pb-100 { padding-bottom: 10rem;}

.mb-10 { margin-bottom: 1rem; }
.mb-20 { margin-bottom: 2rem;}
.mb-30 { margin-bottom: 3rem;}
.mb-40 { margin-bottom: 4rem;}
.mb-50 { margin-bottom: 5rem;}
.mb-60 { margin-bottom: 6rem;}
.mb-70 { margin-bottom: 7rem;}
.mb-80 { margin-bottom: 8rem;}
.mb-90 { margin-bottom: 9rem;}
.mb-100 { margin-bottom: 10rem;}

.pl-10 { padding-left: 1rem; }
.pl-20 { padding-left: 2rem;}
.pl-30 { padding-left: 3rem;}
.pl-40 { padding-left: 4rem;}
.pl-50 { padding-left: 5rem;}
.pl-60 { padding-left: 6rem;}
.pl-70 { padding-left: 7rem;}
.pl-80 { padding-left: 8rem;}
.pl-90 { padding-left: 9rem;}
.pl-100 { padding-left: 10rem;}

.ml-10 { margin-left: 1rem; }
.ml-20 { margin-left: 2rem;}
.ml-30 { margin-left: 3rem;}
.ml-40 { margin-left: 4rem;}
.ml-50 { margin-left: 5rem;}
.ml-60 { margin-left: 6rem;}
.ml-70 { margin-left: 7rem;}
.ml-80 { margin-left: 8rem;}
.ml-90 { margin-left: 9rem;}
.ml-100 { margin-left: 10rem;}

.pr-10 { padding-right: 1rem; }
.pr-20 { padding-right: 2rem;}
.pr-30 { padding-right: 3rem;}
.pr-40 { padding-right: 4rem;}
.pr-50 { padding-right: 5rem;}
.pr-60 { padding-right: 6rem;}
.pr-70 { padding-right: 7rem;}
.pr-80 { padding-right: 8rem;}
.pr-90 { padding-right: 9rem;}
.pr-100 { padding-right: 10rem;}

.mr-10 { margin-right: 1rem; }
.mr-20 { margin-right: 2rem;}
.mr-30 { margin-right: 3rem;}
.mr-40 { margin-right: 4rem;}
.mr-50 { margin-right: 5rem;}
.mr-60 { margin-right: 6rem;}
.mr-70 { margin-right: 7rem;}
.mr-80 { margin-right: 8rem;}
.mr-90 { margin-right: 9rem;}
.mr-100 { margin-right: 10rem;}

.hide { display: none; }
.uppercase { text-transform: uppercase }
.pointer { cursor: pointer }

.flex {
  display: flex;
}
.flexGrow { flex-grow: 1 }
.noFlexShrink { flex-shrink: 0 }
.flexColumn { display: flex; flex-direction: column; }
.justifyEnd { justify-content: flex-end !important; }
.spaceBetween { justify-content: space-between !important; }
.flexCentered {
  @include flexCentered();
}
.nowrap {
  white-space: nowrap;
}

.app_btn {
  @include flexCentered();

  width: 100%;
  padding: .45rem + .1rem 0;
  border: 1px solid $black-10;
  border-radius: $generic-border-radius;
  transition: $generic-transition;
  cursor: pointer;
  background-color: $black-10;
  color: $primary;
  font-size: 15px;

  &.primary {
    background-color: $purple;
    color: $primary_text;
    border: 1px solid #5759c5;

    &:hover {
      background-color: rgba(98, 100, 233, 0.89);
    }
  }

  &:hover {
    background-color: $pale_blue;
  }
}

.success { color: $success }

// generic elements styles
::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

.row {
  display: flex;
  width: 100%;

  &.autoWidth {
    width: auto;
  }

  &_item {
    position: relative;
    width: 100%;

    &.autoWidth {
      width: auto;
    }

    &.oneThird {
      width: calc(100% * (2 / 3));
    }
  }
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.generic_btn {
  @include flexCentered();
  justify-content: space-between;

  padding: 1rem 6rem;
  cursor: pointer;
  transition: $generic-transition;

  &-label {
    font-size: 1.8rem;
  }

  &.pink {
    background-color: $darkish_pink;
    color: $primary_text;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: $generic-border-radius;

    &:hover {
      background-color: #d16060;
    }
  }
}

.generic_separator { height: 1px; width: 100%; background-color: $black-20 }
.vertical_separator {width: 1px; height: 100%; background-color: $black-20}

.generic_input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $black-30;

  label {
    font-size: 1.6rem;
    color: $black-40;
    font-family: $Lato_SemiBold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
    transition: $generic-transition;
  }

  input {
    width: 100%;
    padding: 1rem 1rem 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: $Lato_Regular;
    color: $primary;

    &:focus,
    &:valid {

      ~ label {
        top: -6px;
      }
    }
  }
}

.dnd-progress_bar {
  width: 100%;
  position: relative;
  height: 3px;
  background-color: $black-10;

  &-item {
    @include absoluteFill();
    width: 30%;
    background-color: $success;
    border-radius: 0 20rem 20rem 0;
    transition: $generic-transition;
  }
}
