// Generic Constants
$generic-border-radius: 4px;
$generic-box-shadow: 0 1px 2px rgba(0,0,0,0.22);
$generic-transition: .15s ease-in-out;
$fashioned-transition: .25s cubic-bezier(0,1.11,.68,1.15);

// Colors
$denim_blue: #37538c;
$dark_blue: #00455B;
$black-05: rgba(38, 38, 38, 0.05);
$black-10: rgba(38, 38, 38, 0.1);
$black-20: rgba(38, 38, 38, 0.2);
$black-30: rgba(38, 38, 38, 0.3);
$black-40: rgba(38, 38, 38, 0.4);
$grey: rgba(38, 38, 38, 0.5);
$black-60: rgba(38, 38, 38, 0.6);
$black-70: rgba(38, 38, 38, 0.7);
$black-80: rgba(38, 38, 38, 0.8);
$white: #ffffff;
$white-10: rgba(251, 251, 251, 0.1);
$white-20: rgba(251, 251, 251, 0.2);
$white-30: rgba(251, 251, 251, 0.3);
$white-40: rgba(251, 251, 251, 0.4);
$white-50: rgba(251, 251, 251, 0.5);
$white-60: rgba(251, 251, 251, 0.6);
$white-70: rgba(251, 251, 251, 0.7);
$white-80: rgba(251, 251, 251, 0.8);
$white-90: rgba(251, 251, 251, 0.9);
//$black: #363636;
$primary: #363636;
$primary_text: #ffffff;
$brown: #8A3635;
$darkish_pink: #EF6E6E;
$light_pink: #FFBCBC;
$very_light_blue: rgba(221, 233, 255, 0.53);
$pale_blue: #dae8ef;
$pure_black: #000000;
$success: #23CD90;
$failed: #ff1400;
$warning: #ce8f00;
$purple: #676af0;
$sky_blue: #6acdf3;
$dark_sky_blue: #3a84ed;
$clock_blue: #1976D2;
$orange: #f08067;
$green: #67f08b;

  // Fonts
$Lato_Thin: "Lato_Thin";
$Lato_Light: "Lato_Light";
$Lato_Regular: "Lato_Regular";
$Lato_Medium: "Lato_Medium";
$Lato_SemiBold: "Lato_SemiBold";
$Lato_Bold: "Lato_Bold";
$Lato_Black: "Lato_Black";
$Maiandra_GD_Regular: "Maiandra_GD_Regular";

$NAVIGATION_HEIGHT: 70px;
$WRAPPER_MAX_WIDTH: 1200px;

// break-points
$desktop1024: 1024px;
$ipad768: 768px;
$mobile600: 600px;
$mobile500: 500px;
$mobile400: 400px;

.flex {display: flex}
