@import "../../../styles/utilities/mixins";
@import "../../../styles/utilities/variables";

.calendar_with_date {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;

  &-icon {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-label {
    position: absolute;
    bottom: .3rem;
    font-size: 1.1rem;
    color: $primary_text;
    font-family: $Lato_Black;
    left: 50%;
    transform: translateX(-50%);
  }
}
